body {
    text-align: center;
    font-family: Arial, sans-serif;
}
input, select, button {
    background-color: lightgrey;
    padding: 10px;
     margin: 5px; /*margin between input box , button  */
    border-radius: 500px;
}
h1{
    color: chocolate;
}

button {
    background-color: lightgrey;
    padding: 10px;
}   

.card {
    padding: 10px;
    border-radius: 7px;
}


img {
    width: 30%;
    border-radius: 11px;
}










