version: "3.9"

services:
  api:
    build: .
    container_name: prisma_api
    ports:
      - "3444:3444"
    depends_on:
      - db
    env_file:
      - .env
    command: sh -c "npx prisma generate && npx prisma migrate deploy && node server.js"


  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: gautamcognine
      POSTGRES_DB: mytestdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
